body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.playlist {
    width: 100%;
    background-color: #000000;
    padding: 25px; 
    padding-top: 10px;
    border-radius: 10px; 
    border: 1px solid #d6cece;

}

.add-song {
    width: 80%;
    background-color: #000000;
    padding: 20px; 
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: auto;
}

h2 {
    text-align: center;
}

.search-bar,
#song-title,
#artist-name {
    width: 95%;
    padding: 10px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5d5757;
    color: white;
}


.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding-top: 5px;
    padding-bottom: 20px;
}

.song-title {
    font-weight: bold;
    margin: 0; 
}

.artist-name {
    display: block; 
    font-size: 0.9em; 
    color: #ab9898; 
    margin: 0; 
}

button {
    background-color: #cf2a24;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #f70d0d;
}

#add-button:hover {
    background-color: rgb(5, 5, 199); 
}

#add-button {
    background-color: rgb(9, 85, 200); 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 10px; 
    cursor: pointer; 
}


.add-song {
    display: flex; 
    flex-direction: column; 
}

#add-button {
    align-self: center; 
    margin-top: 10px;
}



